opencv-python
dill
geopandas
h5py
matplotlib
numpy
open3d
pandas
Pillow
pymap3d
pyproj
pyvista
pyvistaqt
scikit-learn
scipy
shapely
spectral
xmltodict
pykdtree
trimesh
rtree
embreex
pyembree
sphinx
ipykernel
ephem
PyQt5
pykrige
